<a href="https://colab.research.google.com/github/rajesht1989/YSTBatch6/blob/karthikeyan/python_Notes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
t# @title Default title text
integer --> int  ---> eg: 1,10,100
string ---> str ----> eg: "example" or 'example' or '''paragraph''' or """paragraph"""
dictionary ---> dict ---> eg: {key:value}  exampple -> {"book":"tamil"},{"phone":'vivo'}
list ---> a = [1,2,3,4,5] , c = ['a',0,True]
tuple ----> b = (1,2,3,4,5), d = ['a',0,True]
set ----> {1,2,3,4}
boolean ---> True or False --->eg: a = 1 --> a.isnum o/p --> True

variable ---> it's continer why we use ---> store a value  ---> eg: furites=['apple','orange','kiwi']

tuple

In [ ]:
1) data types - [int,str,float,boolean],[list,tuple,set,dictionary]
2) variables
3) operators - conditional oprator & assignment operator
4) conditional statement - if,else, elif
5) loops - for, while
6) function
7) error handeling / file handeling
8) oops
9) advance concept - [list comrication],map function

tuple

In [ ]:
name = input()

age = input()

print("My name", name)
print("My age", age)

karthi
18
My name karthi
My age 18

In [ ]:

number=int(input("enter a number:"))
if(number%3==0 and number%5==0):
    print("the given number is divisible by 3 and 5")
elif(number%3==0):
    print("the given  number is only divisible by 3")
elif(number%5==0):
    print("the given  number is only divisible by 5")
else:
    print("the given number is not divisible by 3 and 5")

enter a number:2
the given number is not divisible by 3 and 5

In [ ]:
15%3

0

In [ ]:
score=int(input("score:" ))

if(score<35):
  print("poor")
elif(score>35 and score<70):
  print("average")
elif(score>70 and score<100):
  print("good")
else:
  print("fake score")

score:99
good

In [ ]:
type(5)

int

In [ ]:


a=float(input("A:"))
b=float(input("B:"))
opre=input("add/sul/mul/div:")
if(opre=="add"):
  print(a+b)
elif(opre=="sul"):
  print(a-b)
elif(opre=="mul"):
  print(a*b)
elif(opre=="div"):
  print(a/b)
else:
  print("errno")

In [ ]:
salary=int(input("your salary:"))
age=int(input("your age:"))
if(salary>=20000 and age>=25):
  print("you are elgible for loan")
else:
  print("you are not elgible")

your salary:21000
your age:18
you are not elgible

In [ ]:
salary=int(input("your salary:"))
age=int(input("your age:"))
if(salary>=20000 and age>=25):
  print("you are elgible for loan")
else:
  print("you are not elgible")

your salary:1000
your age:25
you are not elgible

In [ ]:
a=int(input())
b=int(input())
c=int(input())
d=int(input())
e=int(input())

f=(a+b+c+d+e)/5

print(f)

if f > 35:
  print("go to clsse")
else:
  print("go to home")

30
36
33
40
41
36.0
go to clsse

In [ ]:
for i in range(1,11):
  if (i%2==0):
    print(i)

2
4
6
8
10

In [ ]:
count=0
for i in range(1,5):
  if(i%2==0):
    count=count+1
print(count)

2

In [ ]:
e_count=0
o_count=0
for i in range(1,11):
  if(i%2==0):
    e_count=e_count+1
  else:
    o_count=o_count+1
print(e_count)
print(o_count)

5
5

In [ ]:
count=0
for i in range(1,101):
  if(i%3==0 and i%5==0):
    count=count+1
print(count)

6

In [ ]:
a=[]
a.append(10)
a.append(20)
a.append(30)
a.append(40)
b = int(input())
a.append(b)
print(a)

1
[10, 20, 30, 40, 1]

In [ ]:
a=[]
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9